body{
background-color:rgb(245, 245, 240);
}

.recipe-lists{
  display: flex;
  align-items: center;
  height:200px;
  margin-bottom:60px;
}
#first{
  margin-top:0px;
}
#list_btn{
  margin-right: 0px;
}
.recipe-lists{
  background-color: rgb(245, 245, 240);
  border-radius: 50px;
}
.recipe-list-pic{
  width:30%;
  height:100%;
}
.recipe-list-pic img{
  border-radius: 30px;
}
.recipe-list-con{
  width:55%;
  text-align: center;
}
.recipe_name,.recipe_ing,.recipe_time{
  font-weight: bold;
}
.recipe-others{
  width:25%;
  display: flex;
}
.recipe-others1{
  width:50%;
}

.recipe-others2{
  width:50%;
}
.recipe_much,.recipe_kind,.recipe_time,.recipe_diff,.recipe_how,.recipe_good{
    font-weight: bold;
    text-align: center;
}
.recipe_much_data,.recipe_kind_data,.recipe_time_data,.recipe_diff_data,.recipe_good_data,.recipe_how_data{

    text-align: center;
}
